{#
 # -*- coding: utf-8 -*-

 # Copyright (C) 2012-2013 bibimbop at pgdp

 # This program is free software; you can redistribute it and/or
 # modify it under the terms of the GNU General Public License
 # as published by the Free Software Foundation; either version 2
 # of the License, or (at your option) any later version.
 #
 # This program is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with this program; if not, write to the Free Software
 # Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
#}

{% extends "htmlheader.tmpl" %}

{% block title %}Checks for {{ filename }}{% endblock %}

{% block head %}
{{ super() }}
   <link rel="stylesheet" type="text/css" href="/static/checks.css" />
{% endblock %}

{% block body %}

<h1 id="{{ myfile.basename }}">{{ myfile.basename }}</h1>

<p><a href="/project/{{ project_id }}">Back to project page</a></p>

{# Duplicate lines #}
{% if dup.ranges %}

  <h2>Duplicated lines</h2>

  <p>Note: only the first instance is displayed.</p>

  {% for entry in dup.ranges %}

	<h3>Duplicated lines: line {{ entry[0] }} to line {{ entry[1] }}</h3>

    <div class="box">

      {% for i in range(entry[0], entry[1]+1) %}
        {{ myfile.text[i-myfile.start-1] | e }}<br />
	  {% endfor %}

    </div>

  {% endfor %}
{% endif %}


{# Footnotes #}

<h2>Footnotes and their anchors</h2>

{# Ranges of footnotes found #}
{% if fn.fn_found %}

  {% for regex, (fn_numerical, fn_non_numerical) in fn.fn_found.items() %}

    <h3>Footnotes matching regex /<span class='regex'>{{ regex | e }}</span>/</h3>

    <div class='box'>

	{% if fn_numerical %}
      <b>Numerical:</b>
	  <ul>
        {% for a in fn_numerical %}
		  {% if a[0] == a[1] %}
			<li><b>{{ a[0] }}</b></li>
		  {% else %}
			<li><b>{{ a[0] }}</b> to <b>{{ a[1] }}</b></li>
		  {% endif %}
		{% endfor %}
	  </ul>
	{% endif %}

	{% if fn_non_numerical %}
      <b>Non numerical:</b>
	  <ul>
        {% for a in fn_non_numerical %}
		  <li>{{ a }}</li>
		{% endfor %}
	  </ul>
	{% endif %}

	</div>

  {% endfor %}

{% else %}

  <p>No footnotes found</p>

{% endif %}

{# Anchors found #}
<h3>Range(s) of footnote anchors found, in document order</h3>
{% if fn.anchor_ranges %}
  <div class='box'>
	<ul>
      {% for a in fn.anchor_ranges %}
		{% if a[0] == a[1] %}
		  <li><b>{{ a[0] }}</b></li>
		{% else %}
		  <li><b>{{ a[0] }}</b> to <b>{{ a[1] }}</b></li>
		{% endif %}
	  {% endfor %}
	</ul>
  </div>
{% else %}
  <p>None found</p>
{% endif %}

{# Non numerical footnotes, whose anchor was not found. #}
{% if fn.anchor_not_found %}

  <h3>Non numerical footnotes whose anchor was not found</h3>
  <div class='box'>
	<ul>

	  {% for a in fn.anchor_not_found %}
		<li>{{ a }}</li>
	  {% endfor %}

	</ul>
  </div>
{% endif %}

{# spacing between blocks #}
<h2>Spacing between blocks</h2>

<div class='box'>
  <ul>
	{% for myblock in misc.empty_lines_blocks %}
	  <li>
		{% for num in myblock %}
		  {{ num }}
		{% endfor %}
	  </li>
	{% endfor %}

  </ul>
</div>

{# Text headers #}
<h2>Main text headers</h2>

<div class='box'>
  <ul>
	{% for title in misc.titles %}
	  <li>{{ title }}</li>
	{% endfor %}
  </ul>
</div>

{# Not enough/too many empty lines #}
{% if misc.empty_lines_errors %}
  <h2>Uncommon number of empty lines between blocks (not 1, 2 or 4)</h2>

  <div class='box'>
	<ul>
	  {% for (lineno, line) in misc.empty_lines_errors %}
		<li>Line {{ lineno }}: {{ line | e }}</li>
	  {% endfor %}
	</ul>
  </div>
{% endif %}

{# TABs #}
{% if misc.spaces_tab_errors %}
  <h2>TABs present</h2>

  <div class='box'>
	<ul>
	  {% for lineno in misc.spaces_tab_errors %}
		<li>Line {{ lineno }}</li>
	  {% endfor %}
	</ul>
  </div>
{% endif %}

{# Spaces #}
{% if misc.spaces_trailing_errors %}
  <h2>Trailing spaces</h2>

  <div class='box'>
	<ul>
	  {% for lineno in misc.spaces_trailing_errors %}
		<li>Line {{ lineno }}</li>
	  {% endfor %}
	</ul>
  </div>
{% endif %}

{# Report lines too long (more than 72 characters) #}
{% if misc.line_length_warning %}
  <h2>Long lines (more than 72 characters)</h2>

  <div class='box'>
	<ul>
	  {% for lineno, line, len in misc.line_length_warning %}
		<li>Line {{ lineno }} (length {{ len }}): {{ line | e }}</li>
	  {% endfor %}
	</ul>
  </div>
{% endif %}

{# Lines with stars #}
{% if misc.stars_warning %}
  <h2>Lines containing stars</h2>

   <div class='box'>
	<ul>
	  {% for lineno, line in misc.stars_warning %}
		<li>Line {{ lineno }}: {{ line | e }}</li>
	  {% endfor %}
	</ul>
  </div>
{% endif %}

{# Format markers #}
{% if misc.format_markers_warning %}
  <h2>Possible format markers left-over</h2>

  <div class='box'>
	<ul>
	  {% for lineno, line in misc.format_markers_warning %}
		<li>Line {{ lineno }}: {{ line | e }}</li>
	  {% endfor %}
	</ul>
  </div>
{% endif %}

{# Dates #}
{% if misc.dates_all %}
  <h2>Some dates</h2>

  {% if misc.dates_year_max != -1 %}
	<p>Years range: {{ misc.dates_year_min }} to {{ misc.dates_year_max }}</p>
  {% endif %}

  <div class='box'>
	<ul>
	  {% for date in misc.dates_all %}
		<li>{{ date | e }}</li>
	  {% endfor %}
	</ul>
  </div>

  {% if misc.dates_invalid %}
	<h3>Invalid dates</h3>
	<div class='box'>
	  <ul>
		{% for date in misc.dates_invalid %}
		  <li>{{ date | e }}</li>
		{% endfor %}
	  </ul>
	</div>
  {% endif %}
{% endif %}

{# Unicode characters #}
{% if misc.unicode_bad or misc.unicode_misc%}
  <h2>Unicode Characters</h2>

  <p>The list of unicode categories is avilable at <a href="http://www.unicode.org/reports/tr44/#General_Category_Values">http://www.unicode.org/reports/tr44/#General_Category_Values</a>
  </p>
{% endif %}

{% if misc.unicode_misc %}
  <h3>Less common characters</h3>
  <p>Note, this never include letters, letter modifiers and numbers.
  </p>
  <table class="unitab">
	<tr>
	  <th>Character</th>
	  <th>Unicode value</th>
	  <th>Unicode name</th>
	  <th>Unicode category</th>
	  <th># of occurences</th>
	</tr>
	{% for cat, ordl, l, name, num in misc.unicode_misc %}
	  <tr>
		<td>{{ l | e }}</td>
		<td>{{ ordl | e }}</td>
		<td>{{ name | e }}</td>
		<td>{{ cat | e }}</td>
		<td>{{ num | e }}</td>
	  </tr>
	{% endfor %}
  </table>
{% endif %}

{% if misc.unicode_bad %}
  <h3>Probably bad characters</h3>
  <p>Control character are unlikely to be correct.</p>
  <table class="unitab">
	<tr>
	  <th>Character</th>
	  <th>Unicode value</th>
	  <th>Unicode name</th>
	  <th>Unicode category</th>
	  <th># of occurences</th>
	</tr>
	{% for cat, ordl, l, name, num in misc.unicode_bad %}
	  <tr>
		<td>{{ l | e }}</td>
		<td>{{ ordl | e }}</td>
		<td>{{ name | e }}</td>
		<td>{{ cat | e }}</td>
		<td>{{ num | e }}</td>
	  </tr>
	{% endfor %}
  </table>
{% endif %}

{# Misc regexes #}
{% if misc.misc_regex_result %}
  <h2>Regexes</h2>

  <div class='box'>
    <ul>
	  {% for r in misc.misc_regex_result %}
		<li>Line {{ r[2] }}: <b>{{ r[0] | e }}</b>: {{ r[1] | e}}</li>
	  {% endfor %}
	</ul>
  </div>
{% endif %}

{% endblock %}
