body {
    margin-left: 5%;
    margin-right: 5%;
}

h1 { margin-top: 1em; }
h2 { margin-top: 2em; border-bottom: 2px solid gray; }
h3 { font-weight: normal; text-decoration:underline; }

/* Box for text */
.box {
	font-family: "Courier New",Courier,monospace;
    border: 1px dashed;
    background-color: #F8FFFF;
	margin-left: 3em;
	padding: 1em;
}

.regex {
	background-color:lightyellow;
	font-family: "Courier New",Courier,monospace;
    white-space: pre;
}

.highlight {
	background-color:#FF6633;	/* some orange */
}

.warning {
    border: 1px dotted;
    background-color: #FF6633;
}

/* Unicode characters tables */
.unitab {
    border-collapse: collapse;
	margin-left: 3em;
}

.unitab td, .unitab th {
    border: 1px solid black;
}

.unitab td {
	text-align: center;
}
