body {
    margin-left: 5%;
	margin-right: 5%;
}

h2 { margin-top: 2em; border-bottom: 2px solid gray; }

.center { text-align: center; }

.sep15 {margin-top: 1.5em;}
.sep2 {margin-top: 2em;}
.sep3 {margin-top: 3em;}
.sep4 {margin-top: 4em;}

.i4 { text-indent: 4em; }

ul.listnone {list-style-type: none;}

hr.c50 { width: 50%; }


.diffs table { border-collapse: collapse; }
.diffs td { padding: 1em; vertical-align:top; }
.diffs .border-right { border-right:thick double gray; }
.diffs .centerdiv { margin-left: auto;
					margin-right: auto;
					width: 90%;
				  }
