{#
 # -*- coding: utf-8 -*-

 # Copyright (C) 2014-2013 bibimbop at pgdp

 # This program is free software; you can redistribute it and/or
 # modify it under the terms of the GNU General Public License
 # as published by the Free Software Foundation; either version 2
 # of the License, or (at your option) any later version.
 #
 # This program is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
#}

{% extends "htmlheader.tmpl" %}
{% from "formhelpers.tmpl" import render_field %}


{% block head %}
{{ super() }}
 <style type="text/css">
{{ css }}
</style>
{% endblock %}

{% block title %}PPTools{% endblock %}

{% block body %}
   <h1>Diff between {{ f1 }} and {{ f2 }}</h1>

   <p>Warning: in this current version, all options and transformational CSS will be lost if you leave the page.</p>
   <p><a href="/project/{{ project_id }}">Back to project page</a></p>

   <p><a href="/static/comp_pp_doc.html" target="_blank">Documentation</a> (will open in a new tab/window)</p>

   <form method=post action="" class="centerdiv diffs">
	 <table>
	   <tr>
		 <td class="border-right">
		   <ul class="listnone">
			 {{ render_field(form.extract_footnotes) }}
			 {{ render_field(form.css_smcap) }}
			 {{ render_field(form.with_sidenote_tags) }}
			 {{ render_field(form.ignore_case) }}
			 {{ render_field(form.ignore_0_space) }}
			 {{ render_field(form.suppress_nbsp_num) }}
			 {{ render_field(form.css_greek_title_plus) }}
			 {{ render_field(form.css_add_illustration) }}
			 {{ render_field(form.css_no_default) }}

			 <li class="sep15">Transforming a text file:
			   <ul>
				 {{ render_field(form.ignore_format) }}
				 {{ render_field(form.suppress_footnote_tags) }}
				 {{ render_field(form.suppress_illustration_tags) }}
			   </ul>
			 </li>

			 <li class="sep15">If comparing with a file from the rounds:
			   <ul>
				 {{ render_field(form.suppress_proofers_notes) }}
				 {{ render_field(form.regroup_split_words) }}
			   </ul>
			 </li>
		   </ul>
		 </td>
		 <td>
		   <p>HTML: Transformation CSS</p>
		   {{ form.css(cols="60", rows="12")|safe }}

		 </td>
	   </tr>
	 </table>
	 <div class="center">
	   <input type="submit" value="Update" class="sep2">
	 </div>
   </form>

   <div class="sep2">

   {{ usage }}

   <div class="sep2">

   {{ diff }}

{% endblock %}
