{#
 # -*- coding: utf-8 -*-

 # Copyright (C) 2014-2013 bibimbop at pgdp

 # This program is free software; you can redistribute it and/or
 # modify it under the terms of the GNU General Public License
 # as published by the Free Software Foundation; either version 2
 # of the License, or (at your option) any later version.
 #
 # This program is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
#}

{% extends "htmlheader.tmpl" %}
{% block title %}PPTools{% endblock %}
{% block body %}

  <h1 class="sep4 center">PPTOOLS</h1>
  <hr class="c50"/>

  <p class="sep4">This a set of tools to help with post-processing.</p>

  <p>To start, create a project. Each project is semi-private, and can
	only be seen if the ID is known.  Once the project is created,
	bookmark the page or don't close the browser. The URL can't be
	retrieved later. Projects older than 14 days will be automatically
	deleted.
  </p>

  <div>
	<form method='post' class="center sep2" action="">
	  <div>
		<input type="submit" value="Create new project" />
	  </div>
	</form>
  </div>


<!-- from http://codepo8.github.io/css-fork-on-github-ribbon/ -->
<style>
  #forkongithub a{background:#020;color:#fff;text-decoration:none;font-family:arial, sans-serif;text-align:center;font-weight:bold;padding:5px 40px;font-size:1rem;line-height:2rem;position:relative;transition:0.5s;}
  #forkongithub a:hover{background:#060;color:#fff;}
  #forkongithub a::before, #forkongithub a::after{content:"";width:100%;display:block;position:absolute;top:1px;left:0;height:1px;background:#fff;}
  #forkongithub a::after{bottom:1px;top:auto;}
  @media screen and (min-width:800px) {
    #forkongithub{position:absolute;display:block;top:0;right:0;width:200px;overflow:hidden;height:200px;}
    #forkongithub a{width:200px;position:absolute;top:60px;right:-60px;transform:rotate(45deg);-webkit-transform:rotate(45deg);box-shadow:4px 4px 10px rgba(0,0,0,0.8);}
}
</style>
<span id="forkongithub"><a href="https://github.com/bibimbop/pptools-openshift">Fork me on GitHub</a></span>

{% endblock %}
