{#
 # -*- coding: utf-8 -*-

 # Copyright (C) 2014-2013 bibimbop at pgdp

 # This program is free software; you can redistribute it and/or
 # modify it under the terms of the GNU General Public License
 # as published by the Free Software Foundation; either version 2
 # of the License, or (at your option) any later version.
 #
 # This program is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
#}

{% extends "htmlheader.tmpl" %}
{% block title %}PPTools{% endblock %}
{% block body %}

  <h1 class="sep4 center">PPTOOLS</h1>
  <hr class="c50"/>

  <p class="sep4">This a set of tools to help with post-processing.</p>

  <p>To start, create a project. Each project is semi-private, and can
	only be seen if the ID is known.  Once the project is created,
	bookmark the page or don't close the browser. The URL can't be
	retrieved later. Project older than 24 hours will be automatically
	deleted
  </p>

  <div>
	<form method='post' class="center sep2" action="">
	  <div>
		<input type="submit" value="Create new project" />
	  </div>
	</form>
  </div>

{% endblock %}
