{#
 # -*- coding: utf-8 -*-

 # Copyright (C) 2014-2013 bibimbop at pgdp

 # This program is free software; you can redistribute it and/or
 # modify it under the terms of the GNU General Public License
 # as published by the Free Software Foundation; either version 2
 # of the License, or (at your option) any later version.
 #
 # This program is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
#}

{% extends "htmlheader.tmpl" %}
{% block title %}PPTools{% endblock %}
{% block body %}

   <h1 class="center sep2">Project {{ project_id }}</h1>

   <p>This is the project's main page. You can upload the various files (html, latin1, utf-8 and from the round here). This page is not permanent. The project will be deleted 24 hours after the last upload.</p>

   <p>You can bookmark the URL in your browser or this <a href="">semi permanent URL to this project</a></p>

   <h2 class="sep2">Files</h2>
   <hr />

   <p>Upload a file — Only files with the following extension will
	 be accepted: {{ allowed_ext }}. The file can be a version of the
	 document in HTML, text (either latin1 or UTF-8) and from the DP
	 rounds. If a new file has the same name as a previously uploaded
	 file, it will replace it.
   </p>

   <form action="" method="post" enctype="multipart/form-data" class="i4 sep2">
     <input type="file" name="file" />
     <input type=submit value=Upload />
   </form>

   <p class="sep2">The following files have been uploaded:</p>
   <table class="i4">
	 <tr>
	   <th>Filename</th>
	   <th>File size</th>
	   <th>Date</th>
	   <th>(Action)</th>
	 </tr>
	 {% for file in files %}
	   <tr>
		 <td>{{ file[0] }}</td>
		 <td>{{ file[1] }}</td>
		 <td>{{ file[2] }}</td>
		 <td>(delete)</td>
	   </tr>
	 {% endfor %}
   </table>


   <h2 class="sep2">Diffs</h2>
   <hr />

   <p>Once files have been uploaded, a list of combinations will
   appear. Select one. Fix the potential issues, come back and upload
   the updated versions.</p>

   <ul class="listnone">
	 {% for combo in combos %}
	   <li><a href="diffs?f1={{ combo[0] }}&f2={{ combo[1] }}">
		   {{ combo[0] }} and {{ combo[1] }}</a>
	   </li>
	 {% endfor %}
   </ul>

   <h2 class="sep2">Checks</h2>
   <hr />

   <p>Once files have been uploaded, they can be run through a set of checks. TODO.</p>


   <h2 class="sep2">Epubmaker</h2>
   <hr />

   <p>Run epubmaker on the uploaded files. TODO (maybe).</p>


{% endblock %}
